form {
  margin-top: 12px;
}

#form-btn {
  width: 100%;
  padding: 10px;
  font-size: large;
  font-weight: 700;
  background-color: #6c25ff;
  color: white;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}

#form-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
