.main-container {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.588);
}

.main {
  min-height: 90vh;
  width: 27%;
  display: flex;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
}
